#include <zephyr/dt-bindings/led/led.h>

/ {
	/* Regulators */
	neopixel_power {
		compatible = "regulator-fixed";
		regulator-name = "neopixel_power";
		enable-gpios = <&gpio0 38 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
	};

	led_strip: ws2812 {
		compatible = "worldsemi,ws2812-gpio";

		chain-length = <1>; /* arbitrary */
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		gpios = <&gpio0 39 0>;
	};

	aliases {
		led-strip = &led_strip;
	};
};
