# Adafruit QT Py ESP32S3 board configuration

config BOARD_ADAFRUIT_QT_PY_ESP32S3
	select SOC_ESP32S3_WROOM_N8R8
	select SOC_ESP32S3_PROCPU if BOARD_ADAFRUIT_QT_PY_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_ADAFRUIT_QT_PY_ESP32S3_APPCPU